In [1]:
import pymongo
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
connection_string = 'mongodb://localhost:27017'
client = pymongo.MongoClient(connection_string)
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

#### Loading data to MongoDB collection

In [3]:
def make_data():
    dataset = load_iris()
    df = pd.DataFrame(dataset['data'], columns = dataset['feature_names'])

    target_names = dataset['target_names']
    target_names_dict = dict(zip(range(len(target_names)), target_names))

    df['target'] = dataset['target']
    df['target'].replace(target_names_dict, inplace = True)
    return df

df = make_data()

# data in form of key-value store
data = df.to_dict(orient = 'records')

In [4]:
# create database
db = client['iris_db']

# table is known as collection in MongoDB
collection_name = 'iris'

# instantiate a new collection
collection = db[collection_name]

# insert entries/posts/documents in collection
collection.insert_many(data)

#### Querying data

In [5]:
query_df = pd.DataFrame(list(collection.find({'target': 'setosa'})))
query_df.head(2)

,_id,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,629ef193b6d871a91fd06bfd,5.1,3.5,1.4,0.2,setosa
1,629ef193b6d871a91fd06bfe,4.9,3.0,1.4,0.2,setosa

#### Reading data from MongoDB collection

In [6]:
connection_string = 'mongodb://localhost:27017'
client = pymongo.MongoClient(connection_string)
client.HOST, client.PORT

('localhost', 27017)

In [7]:
# accessing previously created database
db = client['iris_db']
collection = db['iris']
collection.find_one()

{'_id': ObjectId('629ef193b6d871a91fd06bfd'),
 'sepal length (cm)': 5.1,
 'sepal width (cm)': 3.5,
 'petal length (cm)': 1.4,
 'petal width (cm)': 0.2,
 'target': 'setosa'}

In [8]:
all_records = list(collection.find())
df = pd.DataFrame(all_records)
df.head(2)

,_id,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,629ef193b6d871a91fd06bfd,5.1,3.5,1.4,0.2,setosa
1,629ef193b6d871a91fd06bfe,4.9,3.0,1.4,0.2,setosa